.gradle
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar
*.db
.coda/phase4-slice3-evaluator-recommendation.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
